<div class="container">
  <h1>Angular Components</h1>
  <h2>Subheader</h2>
  <app-post-form
    (onAdd)="updateFormPosts($event)"
  ></app-post-form>
  <hr/>
  <app-post
    *ngFor="let post of posts"
    [post]="post"
    (onRemove)="removePost($event)"
  >
    <div #info>
      <small *ngIf="post.text.length > 10; else short">Пост длинный</small>
      <ng-template #short>
        <small>Пост короткий</small>
      </ng-template>
    </div>
  </app-post>
  <!-- <app-post
    *ngFor="let post of posts"
    [myPost]="post"
  ></app-post> -->
</div>


